.h1-login-sales {
    font-size: 64px;
    color: #213458;
    font-weight: bold;
    margin-bottom: 100px;
}

.btn-login-salesmanager {
background-color: #213458;
height: 50px;
color: white;
font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
width: 300px;
position: relative;
border: none;
margin-top: 30px;
border-radius: 10px;
cursor: pointer;
}

.btn-register {
background-color: rgb(50, 179, 50);
color: white;
height: 50px;
font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
width: 300px;
margin-top: 10px;
border-radius: 10px;
opacity: 1;
border: none;
cursor: pointer;
}

.btn-register:hover, .btn-login-salesmanager:hover { opacity: 0.8}

.forgot-password {
font-size: large;
color: #1D7D81;
font-weight: bold;
margin-bottom: 100px;
margin-top: 10px;
}