.account-table-container {
    overflow: auto; 
    max-height: 650px; 
    width: 1500px;
    margin-bottom: 40px;
  }
  
  .account-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .account-table th,
  .account-table td {
    border: 1px solid #070707;
    padding: 8px;
    text-align: center;
    background-color: #fafafa88;
  }
  
  .account-table th:nth-child(1) {
    width: 550px;
    background-color: #1D7D814D;
  }
  
  .account-table th:nth-child(2) {
    width: 625px;
    background-color: #1D7D814D;
  }
  
  .account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D7D814D;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  
  .img_cashiering {
    padding: auto;
    margin: auto;
  }
  
  .form__field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99A3BA;
    border: 1px solid #4BB543;
    background: #fff;
    transition: border .3s ease;
    &::placeholder {
        color: #CBD1DC;
    }
    &:focus {
        outline: none;
        border-color: #1D7D81;
    }
  }
  