/* TransactionDetails.css */
.table-container {
    margin: 20px;
    max-height: 800px; /* Adjust the max-height as needed */
    overflow-y: auto;
    display: flex;
}

.table {
    flex: 1;
    margin-right: 20px;
}

/* Style the tables inside .table divs if needed */
.table table {
    border-collapse: collapse;
    width: 100%;
}

.table table th,
.table table td {
    text-align: center;
    padding: 11px;
    
    
}

/* Style the table headers */
.table table th {
    background-color: #f2f2f2;
}

/* Style the table rows */
.table table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.refund-button, .return-button, .btn-cancel, .btn-approve {
    padding: 15px 30px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Adjust the font size as needed */
    margin-right: 1px;
}

.return-button {
    background-color: #dc3545;
    margin-left: 70px;
    font-size: 20px; /* Adjust the font size as needed */
}

.header-details {
    font-size: 30px;
    color: #213458;
    font-weight: bold;
}

.btn-approve {
    background-color: #213458;
    color: #DDDDDD;
    height: 50px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

.btn-cancel {
    background-color: #dc3545;
    font-size: 20px;
    color: #DDDDDD;
    height: 50px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

.btn-cancel:hover, .return-button:hover{
    background-color: #ce0519;
    transform: scale(1.0.5);
  }

.refund-button:hover {
    background-color: rgb(52, 179, 52);
    transform: scale(1.0.5);
}