.App {
  /* background-color: #DDDDDD; */
}

.navbar {
  background-color: #1D7D81; /* Background color for the navbar */
  overflow: hidden; /* Hide overflowing content */
}

.navbar ul {
  list-style-type: none;
  color: #1D7D81;
  display: block;
}

.center-bod {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}



.button-container {
  text-align: center;
}

.button1  {
  background-color: #213458;
  color: #DDDDDD;
  height: 80px;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 33px;
  width: 600px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.button2  {
  background-color: #213458;
  color: #DDDDDD;
  height: 80px;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 33px;
  border-radius: 10px;
  width: 600px;
  cursor: pointer;
}

button:hover{
  background-color: #0e2146;
  transform: scale(1.0.5);
}

table, th, td {
  border: 1px solid black;
}